<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Serveur ESP32</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <h1>Température actuelle : <span id="temp">...</span> °C</h1>

  <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
  <script>
    // Connexion au broker MQTT via WebSocket
    const client = mqtt.connect('wss://broker.emqx.io:8084/mqtt');

    client.on('connect', () => {
      console.log('Connecté au broker MQTT');
      client.subscribe('VHT/Température/Salon');
    });

    client.on('message', (topic, message) => {
      const temp = message.toString();
      document.getElementById('temp').innerText = temp;
    });
  </script>
</body>
</html>